<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link href="/static/adminStyles.css" rel="stylesheet">
  <link rel="icon" href="/static/favicon.ico" type="image/x-icon">
  <script src="/static/adminScript.js" charset="utf-8"></script>
  <title>Noname site</title>
</head>
  <body onload="onload()">
    <div class="Content">
      <div>
        <iframe name="dummyframe" hidden></iframe>
        <p><span>Manga Info</span></p>
        <table>
          <thead>
            <th>Name</th>
            <th>Url</th>
            <th>Size</th>
            <th>SrcUrl</th>
            <th>AddDate</th>
            <th>UpdDate</th>
            <th>Link</th>
            <th>Actions</th>
          </thead>
          <tbody>
            <tr>
              <td>{{.Name}}</td>
              <td>{{.Url}}</td>
              <td>{{.Size}}</td>
              <td>{{.SrcUrl}}</td>
              <td>{{.AddDate}}</td>
              <td>{{.UpdDate}}</td>
              <td><a href="/manga/{{.Url}}">{{.Name}}</a></td>
              <td>
                <form target="dummyframe" action="/api/manga/{{.Url}}" method="POST" enctype="multipart/form-data">
                  <input type="text" name="action" value="update" hidden>
                  <input type="submit" value="Update">
                </form>
                <form target="dummyframe" action="/api/manga/{{.Url}}" method="POST" enctype="multipart/form-data">
                  <input type="text" name="action" value="remove" hidden>
                  <input type="submit" value="Delete">
                </form>
                <form target="dummyframe" action="/api/manga/{{.Url}}" method="POST" enctype="multipart/form-data">
                  <input type="text" name="action" value="changeName" hidden>
                  <input type="text" name="name" placeholder="{{.Name}}" onclick="this.value='{{.Name}}'">
                  <input type="submit" value="Change name">
                </form>
                <form target="dummyframe" action="/api/manga/{{.Url}}" method="POST" enctype="multipart/form-data">
                  <input type="text" name="action" value="addTitle" hidden>
                  <input type="file" name="file">
                  <input type="submit" value="Add title">
                </form>
              </td>
            </tr>
          </tbody>
        </table>
        <table>
          <thead>
            <th>Name</th>
            <th>Actions</th>
            <th>Image</th>
          </thead>
          <tbody>
            {{range $title := .Titles}}
            <tr>
              <td>{{$title}}</td>
              <td>
                <form target="dummyframe" action="/api/manga/{{$.Url}}" method="POST" enctype="multipart/form-data">
                  <input type="text" name="action" value="remTitle" hidden>
                  <input type="text" name="fileName" value="{{$title}}" hidden>
                  <input type="submit" value="Delete title">
                </form>
              </td>
              <td><img src="{{$.TitleHost}}{{$.Url}}/{{$title}}"></td>
            </tr>            
            {{end}}
          </tbody>
        </table>
        <table>
          <thead>
            <th>Chapter number</th>
            <th>Chapter name</th>
            <th>Actions</th>
          </thead>
          <tbody>
            {{range $chapter := .Chapters}}
            <tr>
              <td>{{$chapter.Number}}</td>
              <td>{{$chapter.Name}}</td>
              <td>
                <form target="dummyframe" action="/api/manga/{{$.Url}}/{{$chapter.Number}}" method="POST" enctype="multipart/form-data">
                  <input type="text" name="action" value="changeName" hidden>
                  <input type="text" name="fileName" placeholder="{{$chapter.Name}}" onclick="this.value='{{$chapter.Name}}'">
                  <input type="submit" value="Change Name">
                </form>
                <form target="dummyframe" action="/api/manga/{{$.Url}}/{{$chapter.Number}}" method="POST" enctype="multipart/form-data">
                  <input type="text" name="action" value="remove" hidden>
                  <input type="submit" value="Delete Chapter">
                </form>                
              </td>
            </tr>
            {{end}}
          </tbody>
        </table>
      </div>
    </div>
  </body>
</html>
